.widget
  .widget-header
    .title Report List
  .widget-body
    %ul
      %li
        = link_to 'Leads', 'lead'
      %li
        = link_to 'Timesheets by Job', 'lead'
      %li
        = link_to 'Appointments', 'lead'
      %li
        = link_to 'Contracts', 'lead'
      %li
        = link_to 'Proposals', 'lead'
      %li
        = link_to 'Scheduled Jobs', 'lead'
      %li
        = link_to 'Payroll by Painter', 'lead'
      %li
        = link_to 'Payroll by Job', 'lead'
      %li
        = link_to 'Expenses by Job', 'lead'
      %li
        = link_to 'Profit by Job', 'lead'
      %li
        = link_to 'Overview', 'lead'
      %li
        = link_to 'Weekly Booking Report', 'lead'
      %li
        = link_to 'Top Managers by Bookings', 'lead'
      %li
        = link_to 'Top Managers by Production', 'lead'
      %li
        = link_to 'Deposit/Payment Tracking', 'lead'
      %li
        = link_to 'Client list with detail', 'lead'
      %li
        = link_to 'Contacts', 'lead'
      %li
        = link_to 'Scheduled Estimates', 'lead'
      %li
        = link_to 'Lead Source Distribution', 'lead'
      %li
        = link_to 'Leads Aging (time spent in lifecycle)', 'lead'
