.btn-group.split-button-filter{options}
  - if params.has_key? param and klass.present?
    = link_to params.except(param), :class => "btn btn-default active sbf-main-btn" do
      = klass.find(params[param]).send(droptions_value)
      %i.icon-close{:style => "position:relative;right:-3px;top:1px"}
  - else
    = link_to label, "#", :class => "btn btn-default dropdown-toggle sbf-main-btn", :data => {:toggle => "dropdown"}
  = link_to "#", :class => "btn btn-default dropdown-toggle", :data => {:toggle => "dropdown"}, :style => "padding-left:12px;padding-right:12px;" do
    %span.caret
  %ul.dropdown-menu
    - droptions.each do |d|
      %li= link_to d[1], params.merge({param => d[0]}), :data => {:value => d[0]}
