- @users.each do |u|
  %tr
    %td= link_to u.backwards_name, admin_user_path(u)
    %td= link_to u.email, "mailto:#{u.email}"
    %td= u.organization.nil? ? 'No Organization' : link_to(u.organization.name, admin_organization_path(u.organization))
    %td
      - if u.is_admin?
        %label.label.label-inverse
          - if u.super
            Super
          Admin
      - elsif u.is_owner?
        %label.label.label-info
          Owner
      - elsif u.is_manager?
        %label.label.label-warning
          Manager
      - else
        %label.label.label
          Employee
    %td
      - if u.active
        %label.label.label-success
          Active
      - else
        %label.label.label-important
          Inactive
    %td
      - unless u.is_admin? && u.super
        = link_to edit_admin_user_path(u), :class => "btn btn-sm btn-default" do
          %i.icon-pencil
          Edit
      - if can?(:become_user, :admin) && !u.is_admin?
        = link_to become_admin_user_path(u), :class => "btn btn-sm btn-default become-btn" do
          %i.icon-enter
          Become
